In [1]:
import pandas as pd
import numpy as np

In [3]:
df_tomato = pd.read_csv("rotten_tomatoes_movies.csv", index_col=0)
df_tomato.head()

,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,in_theaters_date,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
rotten_tomatoes_link,,,,,,,,,,,,,,,,,,,,,
/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3

In [5]:
df_imdb = pd.read_csv("IMDb movies.csv", index_col= 0)
df_imdb.head()

,title,original_title,year,date_published,genre,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
tt0001892,Den sorte drÃ¸m,Den sorte drÃ¸m,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard SchÃ¤tzler-Perasini",...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,Gene Gauntier,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0

In [13]:
# year > 1980
df_tomato = df_tomato.drop(df_tomato[pd.DatetimeIndex(df_tomato['in_theaters_date']).year < 1980].index)
df_imdb = df_imdb.drop(df_imdb[df_imdb['year'] < 1980].index)
print(df_tomato.shape)
print(df_imdb.shape)

(14378, 22)
(60401, 21)

In [154]:
# inner join
df = pd.merge(df_imdb,df_tomato.rename(columns = {'movie_title':'title'}), how="inner", on= 'title')
df

,title,original_title,year,date_published,genre_x,duration,country,language,director,writer,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,Kate & Leopold,Kate & Leopold,2001,2002-04-05,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,"Steven Rogers, James Mangold",...,Miramax Films,Rotten,50,129,Upright,62.0,189831.0,34,65,64
1,The Other Side of the Wind,The Other Side of the Wind,2018,2018-11-02,Drama,122,"France, Iran, USA","English, German",Orson Welles,"Orson Welles, Oja Kodar",...,Netflix,Certified Fresh,83,92,Spilled,57.0,314.0,21,76,16
2,Tusk,Tusk,1980,1980-11-26,Drama,119,France,"French, English",Alejandro Jodorowsky,"Reginald Campbell, Nicholas Niciphor",...,A24 Films,Rotten,45,130,Spilled,36.0,12235.0,35,58,72
3,Tusk,Tusk,2014,2014-09-19,"Comedy, Drama, Horror",102,USA,English,Kevin Smith,Kevin Smith,...,A24 Films,Rotten,45,130,Spilled,36.0,12235.0,35,58,72
4,The Border,The Border,1980,1981-08-21,"Drama, Thriller",87,"UK, Mexico",English,Christopher Leitch,Michael Allin,...,Universal Pictures,Fresh,80,10,Spilled,53.0,3283.0,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11830,The Death of Dick Long,The Death of Dick Long,2019,2019-09-27,"Comedy, Crime, Drama",100,USA,English,Daniel Scheinert,Billy Chew,...,A24,Certified Fresh,75,73,Upright,86.0,7.0,13,55,18
11831,Between Two Ferns: The Movie,Between Two Ferns: The Movie,2019,2019-09-20,Comedy,82,USA,English,Scott Aukerman,"Scott Aukerman, Zach Galifianakis",...,Netflix,Certified Fresh,77,56,Spilled,41.0,83.0,13,43,13
11832,Secret Obsession,Secret Obsession,2019,2019-07-18,"Drama, Mystery, Thriller",97,USA,English,Peter Sullivan,"Kraig Wenman, Peter Sullivan",...,NaN,Rotten,31,16,Spilled,20.0,5.0,1,5,11
11833,Revenger,Revenger,2018,2018-12-06,"Action, Crime, Thriller",101,South Korea,"Korean, English",Seung-Won Lee,NaN,...,Netflix,Rotten,40,5,Spilled,53.0,43.0,0,2,3
11834,Falling Inn Love,Falling Inn Love,2019,2019-08-29,"Comedy, Romance",98,USA,English,Roger Kumble,"Elizabeth Hackett, Hilary Galanoy",...,NaN,Fresh,61,18,Spilled,31.0,156.0,3,11,7

In [155]:
df.columns.values

array(['title', 'original_title', 'year', 'date_published', 'genre_x',
       'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'movie_info',
       'critics_consensus', 'poster_image_url', 'rating', 'genre_y',
       'directors', 'writers', 'cast', 'in_theaters_date',
       'on_streaming_date', 'runtime_in_minutes', 'studio_name',
       'tomatometer_status', 'tomatometer_rating', 'tomatometer_count',
       'audience_status', 'audience_rating', 'audience_count',
       'audience_top_critics_count', 'audience_fresh_critics_count',
       'audience_rotten_critics_count'], dtype=object)

In [156]:
# drop duplicate columns and all unavailable data before moview release
df = df.drop(['original_title', 'description', 'votes','language','critics_consensus','movie_info','poster_image_url','genre_y','directors','writers','cast','runtime_in_minutes','studio_name','tomatometer_status','in_theaters_date','on_streaming_date','tomatometer_count','audience_status','audience_count','audience_top_critics_count', 'audience_fresh_critics_count','audience_rotten_critics_count'], axis=1)

In [157]:
df.columns.values

array(['title', 'year', 'date_published', 'genre_x', 'duration',
       'country', 'director', 'writer', 'production_company', 'actors',
       'avg_vote', 'budget', 'usa_gross_income', 'worlwide_gross_income',
       'metascore', 'reviews_from_users', 'reviews_from_critics',
       'rating', 'tomatometer_rating', 'audience_rating'], dtype=object)

y = 'avg_vote'or 'metascore' or 'reviews_from_users' or 'reviews_from_critics' or 'audience_rating' or 'tomatometer_rating'

In [160]:
df.head()

,title,year,date_published,genre_x,duration,country,director,writer,production_company,actors,avg_vote,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,rating,tomatometer_rating,audience_rating
0,Kate & Leopold,2001,2002-04-05,"Comedy, Fantasy, Romance",118,USA,James Mangold,"Steven Rogers, James Mangold",Konrad Pictures,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",6.4,$ 48000000,$ 47121859,$ 76019048,44.0,330.0,127.0,PG-13,50,62.0
1,The Other Side of the Wind,2018,2018-11-02,Drama,122,"France, Iran, USA",Orson Welles,"Orson Welles, Oja Kodar",Royal Road Entertainment,"John Huston, Oja Kodar, Peter Bogdanovich, Sus...",6.9,NaN,NaN,NaN,78.0,70.0,88.0,R,83,57.0
2,Tusk,1980,1980-11-26,Drama,119,France,Alejandro Jodorowsky,"Reginald Campbell, Nicholas Niciphor",Yang Films,"Cyrielle Clair, Anton Diffring, Serge Merlin, ...",5.0,$ 1500000,NaN,NaN,NaN,5.0,5.0,R,45,36.0
3,Tusk,2014,2014-09-19,"Comedy, Drama, Horror",102,USA,Kevin Smith,Kevin Smith,SModcast Pictures,"Michael Parks, Justin Long, Genesis Rodriguez,...",5.3,$ 3000000,$ 1826705,$ 1882074,55.0,381.0,273.0,R,45,36.0
4,The Border,1980,1981-08-21,"Drama, Thriller",87,"UK, Mexico",Christopher Leitch,Michael Allin,Connaught Latham,"Telly Savalas, Danny De La Paz, Eddie Albert, ...",4.5,NaN,NaN,NaN,NaN,10.0,2.0,R,80,53.0

In [161]:
# change the date to timestamp
df['date_published'] = df['date_published'].apply(lambda x:pd.Timestamp(x).value if x else 0)

In [162]:
# regulate budget
df = df.dropna(subset = ['budget'])
df['budget'] = df['budget'].apply(lambda x:x[1:] if x and x[:1]== '$' else None)
df = df.dropna(subset = ['budget'])

/Users/xiapengdi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [169]:
# df['usa_gross_income']
df = df.dropna(subset = ['usa_gross_income'])
df = df.dropna(subset = ['worlwide_gross_income'])
df['usa_gross_income'] = df['usa_gross_income'].apply(lambda x:x[1:] if x[:1]== '$' else None)
df['worlwide_gross_income'] = df['worlwide_gross_income'].apply(lambda x:x[1:] if x[:1]== '$' else None)

In [170]:
# df['budget'].apply(lambda x:print("error") if x == '' else x)
df['rating'].unique()

array(['PG-13', 'R', 'PG', 'G', 'NR', 'NC17'], dtype=object)

In [171]:
dic = {'PG-13':1, 'R':2, 'PG':3, 'NR':4, 'G':5, 'NC17':6, 'PG-13)':1}
df['rating'] = df['rating'].map(dic)

In [172]:
df.head()

,title,year,date_published,genre_x,duration,country,director,writer,production_company,actors,avg_vote,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,rating,tomatometer_rating,audience_rating
0,Kate & Leopold,2001,1017964800000000000,"Comedy, Fantasy, Romance",118,USA,James Mangold,"Steven Rogers, James Mangold",Konrad Pictures,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",6.4,48000000,47121859,76019048,44.0,330.0,127.0,1,50,62.0
3,Tusk,2014,1411084800000000000,"Comedy, Drama, Horror",102,USA,Kevin Smith,Kevin Smith,SModcast Pictures,"Michael Parks, Justin Long, Genesis Rodriguez,...",5.3,3000000,1826705,1882074,55.0,381.0,273.0,2,45,36.0
5,The Border,1982,382320000000000000,"Crime, Drama, Western",108,USA,Tony Richardson,"Deric Washburn, Walon Green",Efer Productions,"Jack Nicholson, Harvey Keitel, Valerie Perrine...",6.4,22000000,6118683,6118683,66.0,44.0,32.0,2,80,53.0
8,Monster,2003,1081468800000000000,"Biography, Crime, Drama",109,"Germany, USA",Patty Jenkins,Patty Jenkins,Media 8 Entertainment,"Charlize Theron, Christina Ricci, Bruce Dern, ...",7.3,8000000,34469210,58469210,74.0,555.0,192.0,2,81,81.0
12,Airplane!,1980,335145600000000000,Comedy,88,USA,"Jim Abrahams, David Zucker","Jim Abrahams, David Zucker",Paramount Pictures,"Kareem Abdul-Jabbar, Lloyd Bridges, Peter Grav...",7.7,3500000,83453539,83453539,78.0,459.0,158.0,3,97,89.0

In [173]:
df_x = df[['title', 'year', 'date_published', 'genre_x', 'duration','country', 'director', 'writer', 'production_company', 'actors', 'budget','rating']]
df_y = df[[ 'avg_vote', 'metascore', 'reviews_from_users', 'reviews_from_critics','tomatometer_rating', 'audience_rating','usa_gross_income', 'worlwide_gross_income']]

In [174]:
df_x.to_csv('inputInfo_X.csv', encoding='utf-8',index=False)
df_y.to_csv('inputInfo_Y.csv', encoding='utf-8',index=False)